.mycard {
  margin-right: 20px !important;
  margin-bottom: 20px !important;
}

.mycard-img {
  width: 350px;
  height: 250px;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  cursor: pointer;
}

.mycard-img img {
  width: 350px;
  height: 250px;
  aspect-ratio: 1;
  object-fit: cover;
  border: 0;
  border-radius: 8px;
}

.mycard-img span {
  position: relative;
  bottom: 50px;
  padding: 0 5px;
  background-color: #25252588;
  color: #ffffff;
  font-size: 26px;
  font-weight: 500;
}

.edit-btn,
.edit-btn:focus {
  height: 50px;
  background-color: #efc81a;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  outline: none;
}

.delete-btn,
.delete-btn:focus {
  height: 50px;
  background-color: #efefef;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  transition: 0.5s;
  outline: none;
}

.delete-btn:hover {
  background-color: #ef1a1a;
  transition: 0.5s;
}

@media only screen and (max-width: 600px) {
  .mycard {
    margin-top: 20px;
  }

  .mycard-img {
    margin-right: 0;
  }

  .edit-btn,
  .delete-btn {
    width: 150px;
  }
}
