.pen-btn {
  position: relative;
  bottom: 25px;
  left: 15%;
  background-color: transparent;
  border: none;
}

.name input {
  width: 200px;
  height: 50px;
  font-size: 32px;
  text-align: center;
}

.avatar {
  max-height: 500px;
  max-width: 500px;
  border: none;
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
}

.edit-btn {
  margin-top: 25px;
  width: 200px;
  height: 50px;
  background-color: #f4f4f4;
  color: #666666;
  border: none;
  border-radius: 8px;
  outline: none;
}

/* .hl {
  position: absolute;
  left: 0;
  bottom: 135px;
  border-bottom: 2px solid #dfdfdf;
} */

.tab-btn {
  display: inline-flex;
  background-color: transparent;
  color: #666666;
  font-size: 20px;
  font-weight: 500;
  border: none;
  margin-right: 50px;
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .tab-btn {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .name input {
      width: 150px;
      height: 40px;
      font-size: 24px;
    }
}