.account > img {
  border-radius: 50%;
}

.account button {
  position: relative;
  bottom: 25px;
  left: 15%;
  background-color: transparent;
  border: none;
}

.avatar {
  max-height: 650px;
  max-width: 650px;
}

.hl {
  position: absolute;
  left: 0;
  bottom: 135px;
  border-bottom: 2px solid #dfdfdf;
}

.tab-btn {
  display: inline-flex;
  background-color: transparent;
  color: #666666;
  font-size: 20px;
  font-weight: 500;
  border: none;
  margin-right: 50px;
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .tab-btn {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .hl {
      bottom: 150px
    }
}